<h2 mat-dialog-title>Create userdata</h2>
<form [formGroup]="userdataForm">
  <mat-dialog-content>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Name" formControlName="name" />
          <mat-error *ngIf="userdataForm.controls['name'].hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Surname" formControlName="surname" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <textarea
            matInput
            rows="10"
            placeholder="Description"
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-button
      [disabled]="!isFormValid()"
      [mat-dialog-close]="userdata"
    >
      Submit
    </button>
    <button mat-button color="alert" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
