<div class="container">
  <div class="card">
    <div class="row">
      <aside class="col-sm-5 border-right" style="border-right: 1px solid lightgray;">
        <article class="gallery-wrap">
          <div class="img-big-wrap">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img [src]="currentProduct.productImage" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img [src]="currentProduct.productImage" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img [src]="currentProduct.productImage" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Letztes</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Nächstes</span>
              </button>
            </div>
          </div> <!-- slider-product.// -->


          <div class="img-small-wrap">
            <div class="item-gallery"> <img [src]="currentProduct.productImage" /></div>
            <div class="item-gallery"> <img [src]="currentProduct.productImage" /></div>
            <div class="item-gallery"> <img [src]="currentProduct.productImage" /></div>
          </div> <!-- slider-nav.// -->
        </article> <!-- gallery-wrap .end// -->
      </aside>

      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h1 class="title mb-3">{{currentProduct.productName }}</h1>

          <p class="price-detail-wrap"><span>{{currentProduct.productPrice | currency:" CHF ":"symbol"}}</span></p>

          <dl class="item-property">
            <dt class="text-primary">Beschreibung</dt>
            <dd>
              <p>
                {{currentProduct.productDescription}}
              </p>
            </dd>
          </dl>
          <hr>
          <dl class="item-property">
            <dt class="text-primary">Adresse</dt>
            <dd>
              <p>
                {{currentProduct.address}}
              </p>
              <p>
                {{currentProduct.postalCode}} {{currentProduct.place}}
              </p>
            </dd>
          </dl>
          <hr>

          <!-- <a class="btn btn-lg btn-outline-primary" (click)="addtocart(product)">Add to cart </a> -->
        </article> <!-- card-body.// -->
      </aside> <!-- col.// -->
    </div> <!-- row.// -->
  </div> <!-- card.// -->
</div>