.gallery-wrap .img-big-wrap img {
    /* height: 500px; */
    width: 100%;
    display: inline-block;
    cursor: zoom-in;
  }
  
  .img-big-wrap:hover {
    transform: scale(1.07); 
    border: 1px solid lightgray;
  }

  .gallery-wrap .img-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
  }
  
  .gallery-wrap .img-small-wrap {
    text-align: center;
  }
  
    .gallery-wrap .img-small-wrap img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 2px;
      cursor: zoom-in;
    }
  
