<div class="container-fluid">

    <!-- slide -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="height: auto;">
            <div class="carousel-item active">
                <img src="https://informatics.sourceweb.ag/wp-content/uploads/2018/02/about-us.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://greyscale-group.com/es/wp-content/uploads/2017/11/about-us.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://informatics.sourceweb.ag/wp-content/uploads/2018/02/about-us.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <h2>Our vision</h2>
    <p>To be one of the leading companies in the region in various fields. – with us, our clients and partners shall
        find what completes their success. We expect their needs and fulfill them according to our self-commitment –
        Everyone shall be proud to work with Brood Company. We create chances to achieve exceptional results and reward
        success. – The society shall consider us responsible and effective.</p>

    <p>The challenge we face is to become a reference point for our clients and partners in a global context that always
        calls for greater specific competence in dealing with financial, investment, and management and issues. We aim
        to achieve this goal by tapping into our team’s specific know-how and experience in each of these fields. We
        enjoy the flexibility of a lean, independent company structure for best liaising with a knowledgeable clientele
        that always expects the best value.</p>

    <h2>Our objective</h2>
    <p>Time and safety are always our priorities, as our company has always been desirous of clean record free from any
        delay in dates and free from accidents and failures in its projects and optimizing general trading and
        investment to meet the needs as an advanced multifaceted trading company, brood company is a leading
        international company. our prowess in handling global procurement, overseas production, multinational trade, and
        investment.</p>

    <h2>Our ethics</h2>
    <p>Our culture is based on integrity and mutual respect. Our reputation in adherence to the highest ethics in work
        is one of our valuable rules. We undertake the responsibility of each work we perform. In Brood Company, we do
        not tolerate any wrong behavior and ask our employees to adhere to such standards and the applicable local acts.
    </p>

    <p>Fraud and bribery in any of our operations or in dealings with third parties are totally unacceptable. We have
        clear policies in place covering our standards and management practices in this area and auditing and reporting
        mechanisms in operation. Where allegations of fraud or bribery have arisen, we work in close conjunction and
        co-operation with our clients and, where appropriate, statutory bodies.</p>
</div>
