<mat-card *ngIf="userdata" class="default-card">
  <mat-card-title> User settings </mat-card-title>
  <p>Name: {{ userdata.name }} {{ userdata.surname }}</p>
  <p>Description: {{ userdata.description }}</p>
  <mat-card-actions>
    <button mat-button (click)="updateUserdata()">Update userdata</button>
    <button mat-button color="warn" (click)="deleteUserdata()">
      Delete userdata
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="!userdata">
  <mat-card-title>No Userdata found</mat-card-title>
  <mat-card-content>Tell us something about you</mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="createUserdata()">Create Userdata</button>
  </mat-card-actions>
</mat-card>
