<!-- Crousall -->
<div class="container-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img
          src="https://thumbs.dreamstime.com/b/fresh-vegetables-fruits-water-splashes-panoramic-background-wide-black-assortment-high-resolution-collage-201899895.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img
          src="https://thumbs.dreamstime.com/b/fresh-vegetables-fruits-water-splashes-panoramic-background-wide-black-assortment-high-resolution-collage-201899895.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="https://thumbs.dreamstime.com/b/fresh-vegetables-fruits-water-splashes-panoramic-background-wide-black-assortment-high-resolution-collage-201899895.jpg"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div><br>

<!-- Category -->
<div class="container-fluid">
  <div class="form-group" style="width: 30%;">
    <label for="category">Produkt Kategorie</label>
    <span>
      <select class="form-select" (change)="onCategoryChange($event)" aria-label="Default select example">
        <option value="0">Alle</option>
        <option value="1">Household</option>
        <option value="2">Toys</option>
        <option value="3">Electronic</option>
        <option value="4">Clothes</option>
        <option value="5">Fashion</option>
        <option value="6">Food & Fruits</option>
      </select>
    </span>
  </div>
  <!-- <hr><input type="text" #myInput (input)="search()"> -->
</div>




<!-- Products -->
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-6 g-4">
    <div id="mouseHover" class="thumbnail" *ngFor="let product of products;">
      <div class="card h-100">
        <img class="card-img-top" src="{{product.productImage}}" (click)="nav(product.id)" alt="">
        <div class="card-body" (click)="nav(product.id)">
          <h2 class="card-title">{{ product.productName }}</h2>
          <h4>{{ product.productPrice | currency:" CHF ":"symbol"}}</h4>
          <p style="white-space: nowrap; overflow: hidden; text-overflow:ellipsis; max-width: 100ch;" class="card-text">
            {{ product.productDescription }}</p>
        </div>
        <div><button class="btn btn-primary" (click)="addtocart(product)">Zum Warenkorb hinzufügen</button></div>
      </div>
    </div>
  </div>
</div><br><br><br>