<header>
  <!--Responsive Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="home">
        <img style="height: 50px;" class="img-fluid" src="../../assets/logo.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <strong>
            <li class="nav-item" id="link">
              <a class="nav-link p-3" *ngIf="!isAuthenticated" routerLink="home">Home</a>
            </li>
          </strong>

          <strong>
            <li class="nav-item" id="link">
              <a class="nav-link p-3" *ngIf="!isAuthenticated" routerLink="about">Über uns</a>
            </li>
          </strong>

          <strong>
            <li class="nav-item" id="link">
              <a class="nav-link p-3" *ngIf="isAuthenticated" routerLink="add-product">Produkt hinzufügen</a>
            </li>
          </strong>

          <strong>
            <li class="nav-item" id="link">
              <a class="nav-link p-3" *ngIf="isAuthenticated" routerLink="get-product">Produkte editieren</a>
            </li>
          </strong>

        </ul>

        <!-- Right elements -->
        <div class="d-flex align-items-center">
          <!-- Icon -->

          <!-- Vertical space -->
          <a class="text-reset me-3" href="#"><i class="fas fa-shopping-cart"></i></a>

          <!-- search -->
          <form class="d-flex">
            <input class="form-control me-2" type="text" class="form-control" [(ngModel)]="searchTerm"
              (keyup)="search($event)" placeholder="Produkte suchen" aria-label="Search">
          </form>

          <!-- Vertical space -->
          <a class="text-reset me-3" href="#"><i class="fas fa-shopping-cart"></i></a>

          <!-- Notifications -->
          <button routerLink="cart" class="btn btn-outline-secondary">
            <i class="fa fa-shopping-cart"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart3"
              viewBox="0 0 16 16">
              <path
                d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </svg>
            <div style="font-size: 10px;" style="color: black;" class="badge ">{{totalItem}}</div>
            <i class="fa fa-shopping-cart"></i>
          </button>

          <!-- Vertical space -->
          <a class="text-reset me-3" href="#"><i class="fas fa-shopping-cart"></i></a>

          <div class="btn-group">
            <button style="border-radius: 50%;" type="button" class="btn btn-outline-secondary dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="40" fill="currentColor" class="bi bi-person"
                viewBox="0 0 16 16">
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
              </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><button class="dropdown-item" type="button"><a class="nav-link" *ngIf="!isAuthenticated"
                    routerLink="login">Login</a></button></li>
              <span>{{ isAuthenticated ? email : "" }}</span>
              <li><button class="dropdown-item" type="button"><a class="nav-link p-3" *ngIf="isAuthenticated"
                    (click)="logout()">Logout</a></button></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </nav>
</header>



<router-outlet></router-outlet>



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h4 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Local Shoppy
          </h4>
          <p>
            Here you can use rows and columns to organize your footer content. Lorem ipsum
            dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Contact
          </h4>
          <p><i class="fas fa-home me-3"></i> Switzerland, Bern 3018</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@local_shoppy.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" routerLink="home">local_shoppy.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
<!-- </mat-sidenav-content>
</mat-sidenav-container> -->