<div class="container-fluid" style="border: 1px solid lightgray;" *ngIf="currentProduct">
  <h1>Produkt editieren</h1>
  <div style="padding: 50px;">
    <form>

      <div class="form-group">
        <label for="category">Produktkategorie</label>
        <span>
          <select class="form-select" id="category" [(ngModel)]="currentProduct.category" name="category"
            aria-label="Default select example">
            <option value="1">Household</option>
            <option value="2">Toys</option>
            <option value="3">Electronic</option>
            <option value="4">Clothes</option>
            <option value="5">Fashion</option>
            <option value="6">Food & Fruits</option>
          </select>
        </span>
      </div>

      <div class="form-group">
        <label for="productName">Produktname</label>
        <input type="text" class="form-control" id="productName" [(ngModel)]="currentProduct.productName"
          name="productName" />
      </div>

      <div class="form-group">
        <label for="productPrice">Produktpreis</label>
        <input type="text" class="form-control" id="productPrice" [(ngModel)]="currentProduct.productPrice"
          name="productPrice" />
      </div>

      <div class="form-group">
        <label for="quantity">Anzahl</label>
        <input type="text" class="form-control" id="quantity" [(ngModel)]="currentProduct.quantity"
          name="quantity" />
      </div>

      <div class="form-group">
        <label for="productImage">Bild</label>
        <input type="text" class="form-control" id="productImage" [(ngModel)]="currentProduct.productImage"
          name="productImage" />
      </div>

      <div class="form-group">
        <label for="productDescription">Produktbeschreibung</label>
        <input type="text" class="form-control" id="productDescription" [(ngModel)]="currentProduct.productDescription"
          name="productDescription" />
      </div>

      <div class="form-group">
        <label for="address">Produktadresse</label>
        <input type="text" class="form-control" id="address" [(ngModel)]="currentProduct.address" name="address" />
      </div>

      <div class="form-group">
        <label for="postalCode">Postleitzahl</label>
        <input type="text" class="form-control" id="postalCode" [(ngModel)]="currentProduct.postalCode"
          name="postalCode" />
      </div>

      <div class="form-group">
        <label for="place">Ort</label>
        <input type="text" class="form-control" id="place" [(ngModel)]="currentProduct.place" name="place" />
      </div>

    </form>
    <button type="submit" class="btn btn-primary" (click)="updateProduct()">Update</button>
    <button class="btn btn-danger" (click)="deleteProduct()">Löschen</button>
    <br><br>
    <p>{{ message }}</p>
  </div>
</div>

<div *ngIf="!currentProduct">
  <br />
  <p>Cannot access this Product...</p>
</div>