<div class="container-fluid">

    <h1 *ngIf="hide">Auf ein Produkt Klicken zum editieren</h1>
    <div class="row row-cols-1 row-cols-md-6 g-4 center">
        <div id="mouseHover" class="col thumbnail" *ngFor="let product of products; let i = index" (class.active)="i == currentIndex" (click)="setActiveProduct(product, i)">
            <div class="card h-100" (click)="toogleTag()" *ngIf="hide">
                <img src="{{product.productImage}}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title">{{ product.productName }}</h2>
                    <h4>{{ product.productPrice }} CH</h4>
                    <p class="card-text">{{ product.productDescription }}</p>
                </div>

                <button (click)="setActiveProduct(product, i)" type="button" class="btn btn-outline-secondary">Produkt editieren</button>
            </div>


        </div>
        <div class="col-md-6">
            <div *ngIf="currentProduct">
                <app-edit-product (refreshList)="refreshList()" [product]="currentProduct"></app-edit-product>
            </div>

            <!-- <div *ngIf="!currentProduct">
                <br/>
                <p>Please click on a Product to edit...</p>
            </div> -->
        </div>

    </div>
</div><br><br><br><br><br>

