<div class="container-fluid form-center" style="width: 60%; padding: 100px; border: 1px solid lightgray;">
    <h1>Produkt hinzufügen</h1>
    <div class="submit-form">
        <div *ngIf="!submitted">

            <div class="form-group">
                <label for="category">Produktkategorie</label>
                <span>
                    <select class="form-select" id="category" [(ngModel)]="product.category" name="category" aria-label="Default select example">
                        <option value="1">Household</option>
                        <option value="2">Toys</option>
                        <option value="3">Electronic</option>
                        <option value="4">Clothes</option>
                        <option value="5">Fashion</option>
                        <option value="6">Food & Fruits</option>
                    </select>
                </span>
            </div>

            <div class="form-group">
                <label for="productName">Produktname</label>
                <span><input type="text" class="form-control" placeholder="Produktname" id="productName" required
                        [(ngModel)]="product.productName" name="productName" /></span>
            </div>

            <div class="form-group">
                <label for="productPrice">Preis</label>
                <span><input class="form-control" placeholder="Preis" id="productPrice"
                        [(ngModel)]="product.productPrice" name="productPrice" /></span>
            </div>

            <div class="form-group">
                <label for="quantity">Anzahl</label>
                <span><input class="form-control" placeholder="Anzahl" id="quantity"
                        [(ngModel)]="product.quantity" name="quantity" /></span>
            </div>

            <div class="form-group">
                <label for="productImage">Bild</label>
                <span><input type="file" accept=".jpg" class="form-control" id="productImage" required
                        [(ngModel)]="product.productImage" (change)="onFileSelected($event)"
                        name="productImage" /></span>
            </div>

            <div class="form-group">
                <label for="productDescription">Beschreibung</label>
                <span><textarea class="form-control" placeholder="Beschreibung" required
                        [(ngModel)]="product.productDescription" id="productDescription" name="productDescription"
                        style="height: 100px; width: 70%;"></textarea></span>
            </div>

            <div class="form-group">
                <label for="address">Adresse</label>
                <span><input class="form-control" placeholder="Adresse" id="address" [(ngModel)]="product.address"
                        name="address" /></span>
            </div>

            <div class="form-group">
                <label for="postalCode">Postleitzahl</label>
                <span><input class="form-control" placeholder="Postleitzahl" id="postalCode"
                        [(ngModel)]="product.postalCode" name="postalCode" /></span>
            </div>

            <div class="form-group">
                <label for="place">Ort</label>
                <span><input class="form-control" placeholder="Ort" id="place" [(ngModel)]="product.place"
                        name="place" /></span>
            </div>

            <!-- <div class="form-group">
                <label for="address">Your Address</label>
                <span>
                    <input class="form-control" ngx-google-places-autocomplete #placesRef="ngx-places"
                        (onAddressChange)="handleAddressChange($event)"/>
                    <agm-map [latitude]='latitude' [longitude]='longitude' [zoom]='zoom'>
                        <agm-marker [latitude]='latitude' [longitude]='longitude'></agm-marker>
                    </agm-map>
                </span>
            </div> -->

            <button (click)="saveProduct()" class="btn btn-primary">Submit</button>
        </div>

        <div *ngIf="submitted">
            <h4>Artikel hinzugefügt!</h4>
            <button class="btn btn-primary" (click)="newProduct()">Add</button>
        </div>
    </div>
</div>

<!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
(onAddressChange)="handleAddressChange($event)" /> -->