label {
    float: left;
}
span {
    display: block;
    margin-left: 150Px;
    padding-bottom: 30px;
}
  
input {
    width: 70%;
    margin-right: 100px;
}

select {
    width: 70%;
    margin-right: 100px;
}


agm-map {
    width: 70%;
    height: 250px;
}

