<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Produktname</th>
                            <th>Bild</th>
                            <th>Beschreibung</th>
                            <th>Preis</th>
                            <th>Anzahl</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{product.productName}}</td>
                            <td><img style="width: 120px;" src="{{product.productImage}}" alt=""></td>
                            <td style="width: 25%;">{{product.productDescription}}</td>
                            <th style="width: 12%;">{{product.productPrice | currency:" CHF ":"symbol"}}</th>
                            <td style="width: 12%;">{{product.quantity}}</td>
                            <td style="width: 12%;">{{product.productPrice * product.quantity}}</td>
                            <td>
                                <button (click)="removeItem(product)" class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Warenkorb leeren</button></td>
                            <td><button routerLink="/home" class="btn btn-primary">Weitershoppen</button></td>
                            <!-- <td><button class="btn btn-success">Checkout</button></td> -->
                            <td><strong>Total:{{ grandTotal | currency:" CHF ":"symbol"}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h3 class="card-title">Mein Warenkorb</h3>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
                alt="">
            <h4>Warenkorb ist leer!</h4>
            <h6>Artikel jetzt hinzufügen</h6>
            <button routerLink="/home" class="btn btn-primary">Artikel hinzufügen</button>
        </div>
    </div>
</ng-container>